<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584859526037-reo23r9cqvubq13jg4vtshjit4svci1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584859526037-reo23r9cqvubq13jg4vtshjit4svci1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584859526037-npf5o6boqs08lke9ot5gorvg5njpdnbd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlTuOXlBREmeYuacd9s4dEgbstnNpLbh4</string>
	<key>GCM_SENDER_ID</key>
	<string>584859526037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bossunwerilevell.ai</string>
	<key>PROJECT_ID</key>
	<string>adminaitek</string>
	<key>STORAGE_BUCKET</key>
	<string>adminaitek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584859526037:ios:cb439565f57eadf6b14c9c</string>
	<key>DATABASE_URL</key>
	<string>https://adminaitek-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>